// .container_footer {
//     display: flex;    
//     align-items: flex-end;
// }

// .container_router {
//     padding: 20px;
//     flex: 1;
// }

.container_content {
    padding: 24px;
}

.container_menu {
    height: 100%;
    width: 290px;
    transition: 0.3s;
}

.expandMenu {
    width: 100px;
    transition: 0.3s;
}