<!-- <mat-toolbar color="primary" class="mat-elevation-z6" >
    <span style="font-size: 20px;">ระบบสมัครเรียน สำหรับเจ้าหน้าที่</span>

</mat-toolbar>
<mat-toolbar color="accent" class="mat-elevation-z6" style="height: 44px;" >
    <button mat-button (click)="gotoinquirePage()" >สอบถามข้อมูล</button>
    <button mat-button (click)="inportScorePage()">นำเข้าข้อมูลผลการสอบ</button>
    <button (click)="gotoProjectSchedulePage()" mat-button >กำหนดโครงการ</button>
    <button (click)="arrangeRoomPage()" mat-button >การจัดการห้องสอบ</button>
    <button (click)="ExamResultsPage()" mat-button >ตรวจสอบผลการสอบข้อเขียน</button>
    <button (click)="profilePage()" mat-button >แสดงรายละเอียดผู้สมัคร</button>
    <button (click)="SchoolDataPage()" mat-button >กำหมดชื่อโรงเรียน</button>
    <button (click)="messagePage()" mat-button >กำหนดข้อความ</button>
    <button (click)="subjectPage()" mat-button >กำหนดรหัสวิชาสอบ</button>
    <span class="spacer"></span>
    <span style="font-size: 16px;">ชื่อ : </span>
    <span style="font-size: 16px;">XXXX XXXX</span>
</mat-toolbar> -->

<mat-toolbar style="background-color: F5F5F5" class="mat-elevation-z2">    
    <span>ระบบสมัครเรียน สำหรับเจ้าหน้าที่</span>
    <span class="spacer"></span>
    <!-- <button mat-icon-button><mat-icon>person_add_alt_1</mat-icon></button> -->
    
    <a mat-icon-button="" href="http://rsu-iam.71dev.com/account/logout" class="mat-icon-button mat-button-base" >
        <span class="mat-button-wrapper">
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
                exit_to_app</mat-icon>
        </span>
    </a>
</mat-toolbar>